 .u-section-1 {
  background-image: none;
  min-height: 696px;
}

.u-section-1 .u-image-1 {
  width: 444px;
  height: 518px;
  margin: 89px auto 0 calc(((100% - 1140px) / 2)  + 21px);
}

.u-section-1 .u-group-1 {
  width: 637px;
  height: auto;
  background-image: none;
  --bottom-left-radius: 100px;
  min-height: 597px;
  margin: -606px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 518px;
  min-height: 480px;
  height: auto;
  margin: 59px 307px 0 30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 0.81;
  margin: 20px 0 0 50px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 37px -9px 0 116px;
}

.u-section-1 .u-text-3 {
  font-size: 0.9375rem;
  font-weight: 600;
  margin: 38px 0 0 64px;
}

.u-section-1 .u-form-1 {
  height: 202px;
  margin: 4px -19px -30px 134px;
}

.u-section-1 .u-input-1 {
  --radius: 50px;
}

.u-section-1 .u-input-2 {
  --radius: 50px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  width: 100%;
  --radius: 50px;
  padding: 10px 0;
}

.u-section-1 .u-image-2 {
  width: 662px;
  height: 644px;
  margin: -546px auto 0 calc(((100% - 1140px) / 2)  + 21px);
}

.u-section-1 .u-image-3 {
  width: 46px;
  height: 25px;
  margin: -329px auto 0 calc(((100% - 1140px) / 2)  + 469px);
}

.u-section-1 .u-image-4 {
  width: 46px;
  height: 24px;
  margin: 221px calc(((100% - 1140px) / 2)  + 400px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 671px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1px;
    margin-left: calc(((100% - 940px) / 2)  + -25px);
  }

  .u-section-1 .u-group-1 {
    --bottom-left-radius: 50px;
    margin-top: -576px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: 119px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-1 .u-image-2 {
    width: 549px;
    height: 534px;
    margin-top: -534px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -208px;
    margin-left: calc(((100% - 940px) / 2)  + 353px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 232px;
    margin-right: calc(((100% - 940px) / 2)  + 300px);
    margin-bottom: -57px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 672px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2px;
    margin-left: calc(((100% - 720px) / 2)  + -38px);
  }

  .u-section-1 .u-group-1 {
    --radius: 10px;
    --bottom-right-radius: 100px;
    margin-top: -565px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 410px;
    height: 397px;
    margin-top: -397px;
    margin-left: calc(((100% - 720px) / 2)  + -121px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -550px;
    margin-left: calc(((100% - 720px) / 2)  + 61px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 573px;
    margin-right: calc(((100% - 720px) / 2)  + 190px);
    margin-bottom: -45px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 662px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 22px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 398px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-top: -295px;
    margin-left: calc(((100% - 540px) / 2)  + 169px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2)  + 100px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 629px;
  }

  .u-section-1 .u-image-1 {
    width: 220px;
    height: 258px;
    margin-top: 35px;
    margin-left: calc(((100% - 340px) / 2)  + -53px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2)  + 255px);
    min-height: 330px;
    margin-top: -293px;
  }

  .u-section-1 .u-group-2 {
    min-height: 330px;
    width: 206px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 31px;
    margin-right: 52px;
    margin-left: -92px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    line-height: 1.4;
    margin-top: 24px;
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    line-height: 1.31;
    margin-top: 124px;
    margin-right: 103px;
    margin-left: -136px;
  }

  .u-section-1 .u-form-1 {
    margin: 9px 52px -282px -187px;
  }

  .u-section-1 .u-image-2 {
    width: 271px;
    height: 270px;
    margin-top: -270px;
    margin-left: calc(((100% - 340px) / 2)  + -87px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2)  + 26px);
  }

  .u-section-1 .u-image-4 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
    margin-top: 188px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 60px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 100vh;
}

.u-section-2 .u-group-1 {
  height: auto;
  background-image: none;
  min-height: 721px;
  width: calc(((100% - 1140px) / 2)  + 636px);
  --top-right-radius: 100px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 48px 337px 0 47px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 543px;
  margin: 21px auto 0 47px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 488px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 6px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 38px 0 24px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.28;
  font-size: 1rem;
  margin: 8px 15px 0 24px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 6px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 38px 0 24px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 0px;
  line-height: 1.28;
  font-size: 1rem;
  margin: 8px 15px 0 24px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 6px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 38px 0 24px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 0px;
  line-height: 1.28;
  font-size: 1rem;
  margin: 8px 15px 0 24px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 6px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 38px 0 24px;
}

.u-section-2 .u-text-9 {
  letter-spacing: 0px;
  line-height: 1.28;
  font-size: 1rem;
  margin: 8px 15px 0 24px;
}

.u-section-2 .u-image-1 {
  width: 559px;
  height: 632px;
  margin: -671px calc(((100% - 1140px) / 2)) 39px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 745px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2)  + 658px);
    min-height: 746px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 75px;
    margin-right: 317px;
    margin-left: 65px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 34px;
    margin-left: 65px;
  }

  .u-section-2 .u-image-1 {
    width: 359px;
    height: 405px;
    margin-top: -529px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 124px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1129px;
  }

  .u-section-2 .u-group-1 {
    --bottom-left-radius: 100px;
    min-height: 768px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 78px;
    margin-right: 353px;
    margin-left: 139px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -64px;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1354px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 238px;
    margin-left: 16px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: 54px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 12px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 12px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 12px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 828px;
  }

  .u-section-2 .u-group-1 {
    min-height: 478px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 195px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 373px;
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 314px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 21px;
    margin-right: 28px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.625rem;
    width: 129px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 21px;
    margin-right: 28px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.625rem;
    width: 129px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 21px;
    margin-right: 28px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.625rem;
    width: 129px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 21px;
    margin-right: 28px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.625rem;
    width: 129px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 317px;
    height: 359px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 321px;
}

.u-section-3 .u-shape-1 {
  width: 906px;
  height: 209px;
  --radius: 50px;
  margin: 41px auto 0;
}

.u-section-3 .u-group-elements-1 {
  width: 429px;
  min-height: 186px;
  height: auto;
  margin: -156px auto 41px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 429px;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  width: 114px;
  height: 61px;
  margin: 22px 6px 0 auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-1 {
    min-height: 212px;
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-3 .u-shape-1 {
    height: 87px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-1 {
    width: 298px;
    min-height: 82px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    line-height: 1.14;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 49px;
    height: 26px;
    transform-origin: center center 0px;
    transform: scaleX(-1);
    margin-top: 10px;
    margin-right: 29px;
  }
} .u-section-4 {
  background-image: url("images/Testimonios.ujer.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 617px;
}

.u-section-4 .u-list-1 {
  width: 729px;
  margin: 221px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 273px;
  grid-auto-columns: 100%;
  grid-gap: 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 19px;
}

.u-section-4 .u-image-1 {
  width: 70px;
  height: 70px;
  background-image: url("images/44d5d282-18f7-4295-9493-b2865af9bf3d.jpg");
  background-position: 50% 50%;
  margin: 14px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  background-image: none;
  margin: -46px 0 0 92px;
}

.u-section-4 .u-group-1 {
  min-height: 182px;
  background-image: none;
  height: auto;
  margin: 32px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-icon-1 {
  width: 54px;
  background-image: none;
  height: 54px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-4 .u-list-1 {
    width: 685px;
    margin-top: 319px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 267px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -7px;
    margin-left: 4px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -43px;
  }

  .u-section-4 .u-group-1 {
    min-height: 193px;
    width: 647px;
    margin-top: 28px;
    margin-right: auto;
    height: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 288px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-left: 1px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -46px;
    margin-right: 1px;
    margin-left: 85px;
  }

  .u-section-4 .u-group-1 {
    width: 682px;
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1697px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1255px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 44px;
    margin-left: 4px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -187px;
    width: 520px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 35.65% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 16px;
    margin-bottom: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 389px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-image-1 {
    width: 44px;
    height: 44px;
    margin-top: 132px;
    margin-right: 276px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -33px;
    margin-right: 134px;
    margin-left: 53px;
  }

  .u-section-4 .u-group-1 {
    min-height: 148px;
    margin-top: 7px;
    width: 320px;
  }

  .u-section-4 .u-icon-1 {
    width: 40px;
    height: 40px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    line-height: 1.46;
    margin-top: 8px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 640px;
}

.u-section-5 .u-group-1 {
  height: auto;
  background-image: none;
  min-height: 640px;
  width: calc(((100% - 1140px) / 2)  + 636px);
  --top-right-radius: 100px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 800;
  margin: 125px 181px 0 66px;
}

.u-section-5 .u-text-2 {
  font-size: 1.0625rem;
  font-weight: 600;
  margin: 49px 181px 0 66px;
}

.u-section-5 .u-text-3 {
  font-size: 1.0625rem;
  margin: 19px 181px 0 66px;
}

.u-section-5 .u-form-1 {
  height: 145px;
  margin: 30px 197px 0 50px;
}

.u-section-5 .u-input-1 {
  --radius: 50px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  width: 100%;
  --radius: 50px;
  padding: 10px 0;
}

.u-section-5 .u-image-1 {
  width: 66px;
  height: 36px;
  margin: 22px auto 0 66px;
}

.u-section-5 .u-image-2 {
  width: 481px;
  height: 523px;
  margin: -581px calc(((100% - 1140px) / 2)) 58px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 642px;
  }

  .u-section-5 .u-group-1 {
    --bottom-left-radius: 100px;
    width: calc(((100% - 940px) / 2)  + 636px);
    margin-top: 1px;
    height: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: -522px;
    margin-right: calc(((100% - 940px) / 2)  + -18px);
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 50vw;
  }

  .u-section-5 .u-group-1 {
    width: calc(((100% - 720px) / 2)  + 636px);
  }

  .u-section-5 .u-image-2 {
    width: 312px;
    height: 340px;
    margin-top: -284px;
    margin-right: calc(((100% - 720px) / 2)  + -35px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 446px);
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-2 {
    margin-top: -522px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 424px;
  }

  .u-section-5 .u-group-1 {
    --bottom-left-radius: 76px;
    min-height: 424px;
    width: calc(((100% - 340px) / 2)  + 284px);
  }

  .u-section-5 .u-text-1 {
    font-size: 0.9375rem;
    width: auto;
    margin-top: 60px;
    margin-right: 125px;
    margin-left: 49px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 22px;
    margin-right: 107px;
    margin-left: 49px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 22px;
    margin-right: 108px;
    margin-left: 49px;
  }

  .u-section-5 .u-form-1 {
    width: 192px;
    margin-top: 7px;
    margin-right: 156px;
    margin-left: 42px;
  }

  .u-section-5 .u-image-1 {
    width: 44px;
    height: 24px;
    margin-top: -13px;
    margin-left: 49px;
  }

  .u-section-5 .u-image-2 {
    width: 203px;
    height: 220px;
    margin-top: -286px;
    margin-right: calc(((100% - 340px) / 2)  + -43px);
    margin-bottom: 66px;
  }
}